<footer>
    <div class="container-fluid">
        <main class="tm-main">
            <hr class="tm-hr-primary">
            <div class="col-12 tm-color-primary">
                <h6 class="text-center tm-pt-30 tm-color-primary">All rights reserved</h6>
            </div>
            <div class="alert alert-danger" role="alert">
                Please note that the website is still under development and the data displayed here might not be accurate!
            </div>
        </main>
    </div>
</footer>

</body>

</html>