<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SalahTimes</title>
    <script src="https://kit.fontawesome.com/602e6d2296.js" crossorigin="anonymous"></script>
    <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/tm-styles.css" rel="stylesheet">
    <link href="/css/daily.css" rel="stylesheet">


    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
</head>

<body>