<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-mosque"></i></div>
            <h1 class="text-center">SalahTimes.pl</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item" id="home">
                    <a data-link href="/" class="tm-nav-link">
                        <i class="fas fa-user-clock"></i> Salah Times
                    </a>
                </li>
                <li class="tm-nav-item" id="ramadhan">
                    <a data-link href="/ramadhan" class="tm-nav-link">
                        <i class="fas fa-star-and-crescent"></i>Ramadhan
                    </a>
                </li>
                <li class="tm-nav-item" id="masjid">
                    <a data-link href="/masjids" class="tm-nav-link">
                        <i class="fas fa-mosque"></i> Masjids
                    </a>
                </li>

                <li class="tm-nav-item" id="asmaulhusna">
                    <a data-link href="/asma-ul-husna" id="asmaLink" class="tm-nav-link">
                        <i class="far fa-bookmark"></i></i> Asma Ul-Husna
                    </a>
                </li>
            </ul>
        </nav>

        <div class="tm-mb-40">
            <p class="pr-5 text-white">
                Share:
            </p>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://salahtimes.pl/" class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?url=http://salahtimes.pl/&text=" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a href="whatsapp://send?text=http://salahtimes.pl/" class="tm-social-link">
                <i class="fab fa-whatsapp tm-social-icon"></i>
            </a>
            <a href="https://telegram.me/share/url?url=http://salahtimes.pl/&text=SalahTimes.pl" class="tm-social-link">
                <i class="fab fa-telegram tm-social-icon"></i>
            </a>

        </div>

    </div>
</header>