<%- include('partials/header')%>

    <%- include('partials/navbar')%>
        <div class="container-fluid">

            <main class="tm-main">

                <div class="col-12 tm-color-primary arabic-font-size-medium">
                    <!-- <h1 class="text-center tm-pt-30 tm-color-primary arabic-font-size-medium"> بِسْمِ ٱللّٰهِ ٱلرَّحْمٰنِ ٱلرَّحِيمِ‎ </h1> -->
                    <h1 class="text-center tm-pt-30 tm-color-primary arabic-font-size-medium">99 names of Allah</h1>
                </div>

                <hr class="tm-hr-primary">
                <div class="col-12 text-center" style="align-items: center;">
                    <div class="row">
                        <div class="col-sm-6" id="firstPart"></div>
                        <div class="col-sm-6" id="secondPart"></div>
                    </div>
                </div>
            </main>
        </div>

        <%- include('partials/scripts') %>
            <script src="/js/asma.js"></script>
            <%- include('partials/footer') %>