<%- include('partials/header')%>

    <%- include('partials/navbar')%>
        <div class="container-fluid">

            <main class="tm-main">

                <div class="col-12 tm-color-primary arabic-font-size-medium">
                    <h1 class="text-center tm-pt-30 tm-color-primary arabic-font-size-medium"> Masjids in Poland </h1>
                </div>
                <hr class="tm-hr-primary">

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <!-- Islamic cultural center in Warsaw -->
                    <div class="col">
                        <div class="card">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Wiertnicza%20103,%2002-952%20Warszawa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="tm-color-primary">Islamic cultural center in Warsaw</h5>
                                <p class="tm-color-primary"><i class="fas fa-phone-alt"></i> <span>  </span> 22 842 91 74</p>
                                <p class="tm-color-primary"><i class="fas fa-map-marked-alt"></i> <span>  </span> Wiertnicza 103, 02-952 Warszawa</p>
                                <p class="tm-color-primary"><i class="fas fa-globe"></i></i> <a class="tm-color-primary" href="http://www.centrumislamu.pl/" style="text-decoration: none;">www.centrumislamu.pl</a></p>
                            </div>
                        </div>
                    </div>


                    <!-- Ahmadiyya Muslim Jama’t (community) Poland-->
                    <div class="col">
                        <div class="card">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Dymna%2017,%2002-411%20Warszawa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="tm-color-primary">Ahmadiyya Muslim Jama’t (community) Poland</h5>
                                <p class="tm-color-primary"><i class="fas fa-phone-alt"></i> <span>  </span> 22 863 88 92</p>
                                <p class="tm-color-primary"><i class="fas fa-map-marked-alt"></i> <span>  </span>Dymna 17, 02-411 Warszawa</p>
                                <p class="tm-color-primary"><i class="fas fa-globe"></i></i> <a class="tm-color-primary" href="https://www.alislam.pl/" style="text-decoration: none;">www.alislam.pl</a></p>
                            </div>
                        </div>
                    </div>




                    <!-- Islamic cultural center in Katowice -->
                    <div class="col">
                        <div class="card">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Warszawska%2050A,%2040-010%20Katowice&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>


                            <div class="card-body">
                                <h5 class="tm-color-primary">Islamic cultural center in Katowice</h5>
                                <p class="tm-color-primary"><i class="fas fa-phone-alt"></i> <span>  </span> 32 205 44 30</p>
                                <p class="tm-color-primary"><i class="fas fa-map-marked-alt"></i> <span>  </span> Warszawska 50A, 40-010 Katowice</p>
                                <p class="tm-color-primary"><i class="fas fa-globe"></i></i> <a class="tm-color-primary" href="http://islam-katowice.pl/" style="text-decoration: none;">islam-katowice.pl</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Islamic cultural center in Krakow -->
                    <div class="col">
                        <div class="card">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Jana%20Sobieskiego%2010/30,%2031-136%20Krak%C3%B3w&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>

                            <div class="card-body">
                                <h5 class="tm-color-primary">Islamic cultural center in Kraków</h5>
                                <p class="tm-color-primary"><i class="fas fa-phone-alt"></i> <span>  </span> 796 180 040</p>
                                <p class="tm-color-primary"><i class="fas fa-map-marked-alt"></i> <span>  </span> 10/30, Jana Sobieskiego, 31-136 Kraków</p>
                                <p class="tm-color-primary"><i class="fas fa-globe"></i></i> <a class="tm-color-primary" href="http://islam-krakow.pl/" style="text-decoration: none;">islam-krakow.pl</a></p>
                            </div>
                        </div>
                    </div>


                    <!-- Islamic cultural center in Poznan -->
                    <div class="col">
                        <div class="card">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Biedrzyckiego%2013,%2060-272%20Pozna%C5%84&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>

                            <div class="card-body">
                                <h5 class="tm-color-primary">Muslim Cultural and Educational Center in Poznań</h5>
                                <p class="tm-color-primary"><i class="fas fa-phone-alt"></i> <span>  </span> 785 187 738</p>
                                <p class="tm-color-primary"><i class="fas fa-map-marked-alt"></i> <span>  </span> Biedrzyckiego 13, 60-272 Poznań</p>
                                <!-- <p class="tm-color-primary"><i class="fas fa-globe"></i></i> <a class="tm-color-primary" href="#" style="text-decoration: none;">N/A</a></p> -->
                            </div>
                        </div>
                    </div>

                    <!-- Islamic cultural center in Wrocław -->
                    <div class="col">
                        <div class="card">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=aleja%20Jana%20Kasprowicza%2024A,%2051-137%20Wroc%C5%82aw&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="tm-color-primary">Muslim Cultural and Educational Center</h5>
                                <p class="tm-color-primary"><i class="fas fa-phone-alt"></i> <span>  </span> 71 325 53 20</p>
                                <p class="tm-color-primary"><i class="fas fa-map-marked-alt"></i> <span>  </span> aleja Jana Kasprowicza 24A, 51-137 Wrocław</p>
                                <p class="tm-color-primary"><i class="fas fa-globe"></i></i> <a class="tm-color-primary" href="https://www.islam.net.pl/" style="text-decoration: none;">www.islam.net.pl</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Islamic cultural center in Gdansk -->
                    <div class="col">
                        <div class="card">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Abrahama%2017A,%2080-980%20Gda%C5%84sk&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>>
                                </div>
                            </div>

                            <div class="card-body">
                                <h5 class="tm-color-primary">Muslim Religious Community in Gdańsk</h5>
                                <p class="tm-color-primary"><i class="fas fa-phone-alt"></i> <span>  </span> 601-631-535</p>
                                <p class="tm-color-primary"><i class="fas fa-map-marked-alt"></i> <span>  </span> Abrahama 17A, 80-980 Gdańsk</p>
                                <p class="tm-color-primary"><i class="fas fa-globe"></i></i> <a class="tm-color-primary" href="https://meczetwgdansku.com/" style="text-decoration: none;">meczetwgdansku.com</a></p>
                            </div>
                        </div>
                    </div>


                </div>



        </div>

        </main>
        </div>
        <%- include('partials/scripts') %>
            <script src="/js/masjid.js"></script>
            <%- include('partials/footer') %>